.hero-section {
  background: url("http://www.zurb.com/blog/system/images/1698/original/ZB_F5Yeti_8-06.png?1441395222") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
  font-family: "Lato", sans-serif;
}

  .hero {
  z-index: -1;
  background: url("../images/kittyquest.jpg") 100% no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  }

  .hero .hero-text {
  color: #fefefe;
  /*text-shadow: 1px 1px 2px #0a0a0a;*/
}

#hero-call {
    margin-top: 12.5%;
    margin-left: 12.5%;
    color: white;
  }

#hero-call h1 {
    font-size: 7vmin;
    font-family: 'Lato', sans-serif;
}

#hero-call h2 {
    font-size: 5.5vmin;
    font-family: 'Lato', sans-serif;
    color: white;
    padding-top:3vmin;
}